<!DOCTYPE html>
<html>
<head>
  <title>InooTiles</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <header>
    <h1>InnoTiles</h1>
    <nav>
      <ul>
        <li><a href="/index">Acasă</a></li>

        <li><a href="#">
          <div class="dropdown">
            <button class="dropbtn">Produse <i class="arrow"> </i> </button>
            <div class="dropdown-content" id = "dropdown produse">
              
            </div>
          </div>
        </a></li>

        <li><a href="/about">Despre noi</a></li>

        <li><a href="#">
          <div class="dropdown">
            <button class="dropbtn">Contact <i class="arrow"> </i> </button>
            <div class="dropdown-content">
              <a href="https://wa.me/0740188280">Whatsapp</a>
              <a href="https://www.facebook.com/profile.php?id=100044975814310">Facebook</a>
              <a href="https://www.instagram.com/italbogceramic/">Instagram</a>
            </div>
          </div>
        </a></li>
        <li><button id="dark-mode-toggle" class = "darkmode">Dark Mode</button></li>
      </ul>
    </nav>
  </header>

  


  <body>
    <div class="container">
      <h1>Despre Noi</h1>
      <img src="img/santier.jpg" alt="Imagine Despre Noi">
      <p>La <strong>InnoTiles</strong>, avem o viziune clară asupra designului și calității în materie de gresie și faianță. Ne dorim să transformăm spațiile în adevărate opere de artă, prin utilizarea produselor noastre excepționale.</p>
      <p>Noi credem că gresia și faianța nu sunt doar materiale de construcție, ci elemente cheie în definirea atmosferei și stilului unui loc. Fie că este vorba despre o baie elegantă, o bucătărie modernă sau un living confortabil, alegerea potrivită de gresie și faianță poate transforma complet un spațiu.</p>
      <p>Ne dedicăm să oferim o gamă variată de produse de cea mai înaltă calitate, cu modele și texturi unice, adaptate la cele mai recente tendințe în designul interior. Colaborăm cu cei mai talentați designeri și producători, pentru a aduce în casele clienților noștri produse care să îmbine funcționalitatea cu estetica deosebită.</p>
      <p>Misiunea noastră este să oferim soluții complete pentru proiectele de amenajare, îndrumând clienții noștri în alegerea perfectă pentru nevoile lor. Cu o echipă de experți pasionați, suntem mereu la curent cu cele mai noi tehnologii și inovații din domeniu, pentru a oferi servicii de consultanță și produse de cea mai înaltă calitate.</p>
      <p>Indiferent dacă vă doriți un design clasic sau contemporan, la <strong>InnoTiles</strong> veți găsi tot ce aveți nevoie pentru a vă transforma visurile în realitate. Suntem aici pentru a vă ghida în procesul de amenajare și pentru a vă oferi soluții personalizate, care să vă reflecte stilul și personalitatea.</p>
    <p>Vă invităm să descoperiți lumea noastră fascinantă a gresiei și faianței și să creați spații de neuitat, în care fiecare detaliu să fie perfect pus în valoare.</p>

    </div>
  </body>


  <div id="message" style = "text-align: center; padding-top: 5px;"></div>
  <footer>
    <p>&copy; 2023 Magazinul nostru de gresie și faianță. Toate drepturile rezervate.</p>
    <p>(dog)</p>
    <div class="dog-container">
        <img src="img/huskydragut.png" alt="husky frumos" class="dog-photo">
      </div>
    <p>[dog]</p>
    <p>{dog}</p>
    <p>săgeată sus</p>
  </footer>

  <script src="js/dark mode.js"></script>
  <script src="js/produse.js"></script>
  <script src="js/huskyjucaus.js"></script>
  <script src="js/huskynejucaus.js"></script>
  <script src="js/newsletter.js"></script>
  <script src="js/mesajvizitator.js"></script>
  <script src="js/numecumparator.js"></script>
 
</body>
</html>
